$primary: #8e44ad;
$primary-hover: #783993;
$primary-hover-bg: #8d43ad1a;

$primary-text: #34495e;
$secondary-text: #839091;

$border-color: #d6dbe4;

$page-header-background: #dedede;
$page-background: #f5f5f5;

$error: #dc3545;
$error-background: hsl(354, 70%, 95%);

$success: #28a745;
$success-background: hsl(140, 60%, 95%);
