<nav class="navbar sticky-top bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">SPACES</a>
    <div class="d-flex align-items-center gap-3">
      <a class="nav-link active" href="#">HOME</a>
      <a class="nav-link" href="#">ABOUT</a>
      <a class="nav-link" href="#">CONTACT</a>
      <button class="btn btn-primary rounded-pill">
        <ng-container *ngIf="!(loggedIn$ | async)"> LOGIN </ng-container>
        <ng-container *ngIf="loggedIn$ | async"> ENQUIRE </ng-container>
      </button>
    </div>
  </div>
</nav>
