<div class="page-header py-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-2">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Dashboard</li>
      </ol>
    </nav>
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="mb-0 page-title">Users List</h1>
      <button class="btn btn-primary rounded-pill">
        <i class="bi-plus-lg"></i> New User
      </button>
    </div>
  </div>
</div>

<div class="page-content">
  <div class="container pt-4">
    <div class="table-wrapper p-4 rounded-3">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col" class="px-4 table-header">User</th>
            <th scope="col" class="px-4 table-header">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let user of users; let idx = index"
            class="user-row border-bottom"
          >
            <td class="px-4">
              <img
                class="user-avatar rounded-circle me-3"
                [src]="user.avatar"
                alt="{{ user.firstName }} {{ user.lastName }}'s picture"
              />
              <span class="user-name"
                >{{ user.firstName }} {{ user.lastName }}</span
              >
            </td>
            <td class="px-4 action-buttons-cell">
              <div class="action-buttons">
                <button
                  class="btn btn-outline-primary me-1"
                  (click)="editUser(idx)"
                >
                  <i class="bi-pencil-fill"></i>
                </button>
                <button class="btn btn-outline-primary me-1">
                  <i class="bi-trash-fill"></i>
                </button>
                <button class="btn ms-auto chevron-button">
                  <i class="bi-chevron-right"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <td [colSpan]="2">
              <div class="text-center">
                <button *ngIf="!loading" class="btn btn-primary">
                  Load more
                </button>
                <i *ngIf="loading" class="bi-arrow-repeat loader"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <div class="user-details">
        <button class="btn">X</button>
        <img [src]="selectedUserData.avatar" alt="" />
        <h2>
          {{ selectedUserData.firstName }} {{ selectedUserData.lastName }}
        </h2>

        <div class="user-action-buttons">
          <button class="btn btn-primary">
            <i class="bi-pencil-fill"></i>
            Edit
          </button>
          <button class="btn btn-outline-primary">
            <i class="bi-trash-fill"></i>
            Delete
          </button>
        </div>
      </div> -->
    </div>
  </div>
</div>

<app-user-modal
  *ngIf="users[editedUserIndex]"
  [editedUser]="users[editedUserIndex]"
  (closeModal)="onCloseModal()"
  (confirmEdit)="onConfirmEdit($event)"
></app-user-modal>
